@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  width: 54px;
  height: 54px;
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  background-image:
    radial-gradient(circle 5px , #FF3D00 100%, transparent 0),
    radial-gradient(circle 5px , #FF3D00 100%, transparent 0),
    radial-gradient(circle 5px , #FF3D00 100%, transparent 0),
    radial-gradient(circle 5px , #FF3D00 100%, transparent 0),
    radial-gradient(circle 5px , #FF3D00 100%, transparent 0),
    radial-gradient(circle 5px , #FF3D00 100%, transparent 0);
    background-repeat: no-repeat;
  animation: move 4s linear infinite , rotate 2s linear infinite;
}

@keyframes rotate {
  0% , 20%{ transform: rotate(0deg)}
  30% , 40% { transform: rotate(90deg)}
  50% , 60% { transform: rotate(180deg)}
  70% , 80% { transform: rotate(270deg)}
  90%,  100% { transform: rotate(360deg)}
}
@keyframes move {
  0% ,  9%{
      background-position:
      -12px -15px,  -12px 0px, -12px 15px,
      12px -15px,  12px 0px,  12px 15px;
  }
  10% , 25%{
      background-position:
      0px -15px,  -12px 0px, -12px 15px,
      34px -15px,  12px 0px,  12px 15px;
  }
  30% , 45%{
      background-position:
      0px -34px, -12px -10px, -12px 12px,
      34px -15px, 12px -10px, 12px 12px;
  }
  50% , 65% {
      background-position:
      0px -34px, -12px -34px, -12px 12px,
      34px -12px, 0px -10px, 12px 12px;
  }
  70% , 85% {
      background-position:
      0px -34px, -12px -34px, 0px 12px,
      34px -12px, 0px -10px, 34px 12px;
  }
 90% , 100% {
      background-position:
      0px -34px, -12px -34px, 0px 0px,
      34px -12px, 0px 0px, 34px 12px;
  }
}
.btn-w {
  @apply p-1 px-2 m-2 bg-orange-100 rounded-xl font-sans hover:bg-orange-200  active:bg-indigo-400;
}
.btnStore {
  @apply mx-2 rounded-md scale-125 bg-orange-100  hover:bg-orange-200  active:bg-indigo-200;
}
.btn-n {
  @apply p-1 px-2 m-1 bg-amber-200 rounded-xl hover:bg-amber-300  active:bg-indigo-400;
}
.img-e {
  @apply m-4 bg-indigo-300 p-3 rounded-xl hover:bg-purple-200  active:bg-red-700;
}
.img-u {
  @apply mx-2 bg-indigo-400 p-3 rounded-xl w-20;
}
.img-d {
  @apply mx-2 bg-indigo-400 rounded-full w-96;
}
.text-m {
  @apply w-full text-center h-80 bg-fuchsia-300 p-5;
}
.u {
  resize: none;
}
.contenedor1 {
  @apply min-h-screen  bg-indigo-200 top-0;
}
.contenedor2 {
  @apply pt-14 text-center;
}
.error {
  @apply font-bold bg-black text-red-600 max-w-screen-md m-auto;
}
.contenedor3 {
  @apply flex justify-center;
}
.contenedor4 {
  @apply mt-8 font-bold m-10 px-10 py-3 bg-indigo-100 max-w-xl;
}
.titulo {
  @apply text-2xl text-center text-fuchsia-700;
}
.mostrarcorte {
  @apply border-b-2 border-black;
}
/* Estilos para la clase cls-1 */
.cls-1 {
  fill: #e84f35;
}

/* Estilos para la clase cls-2 */
.cls-2 {
  fill: #fff;
}

.input {
  @apply px-2 m-1 text-center border border-black font-bold w-full bg-indigo-100;
}
.label {
  @apply p-1 font-bold text-2xl;
}
.totalpagina {
  @apply m-4 bg-indigo-100 rounded-xl h-20 justify-center flex items-center hover:scale-105 hover:border-black hover:border transition ease-in duration-500;
}

.no-spin {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Otros navegadores */
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.detalles {
  @apply text-left mx-4 font-bold font-spartan;
}
.divDetail {
  @apply grid grid-cols-2 m-2 font-bold text-2xl;
}


  